[defaults]
host_key_checking = false                #disable ssh host check
inventory = ./inventories
roles_path = ./roles
timeout = 30        

[ssh_connection]
pipelining = true                        #one tcp session instead many ssh session 
control_path_dir = /tmp/ansible_ssh
ssh_args = -o ControlMaster=no -o ControlPersist=1h -o IdentitiesOnly=yes  -o ServerAliveInterval=30 -o ServerAliveCountMax=3
control_path = none
retries = 3